
      

#map { height: 500px; width: 500px;
      float: left;
 }

#picprofile {
  margin: 0% 0%;
  float: left;
}

table {
    margin: 0% 20%;
}

td {
  width: 3rem;
  height: 3rem;
  vertical-align: top;
}
.other-month {
  color: #c0c0c0;
}

.today {
  color: #F00;
}